@import 'components/kit-core/mixins.scss';;

.container {
  position: relative;
  overflow: hidden;
  border-radius: 5px;
}

.status {
  position: absolute;
  top: -1px;
  bottom: -1px;
  left: -1px;
  width: 6px;
  z-index: 1;
}

.footer {
  background: $gray-1;
}

// dark theme
:global(body.kit__dark) {
  .footer {
    background: $dark-gray-4;
  }
}
